@import 'theme';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#root {
  padding: 10px;
}

.slice {
  max-width: 740px;
  margin: 4em auto;
  margin-left: auto !important;
  margin-right: auto !important;
}

.codespan {
  padding: 2px 6px 3px;
  box-sizing: border-box;

  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  color: $text-color-code;

  background: #F7F8F9;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}
